<!-- tests/templates/tests/list_objects.html -->
{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
    <h1>Lista de {{ model_name }}s</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Compania</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Activo</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in objects %}
        <tr>
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.phone_number }}</td>
          <td>{{ cliente.address }}</td>
          <td>{{ cliente.company }}</td>
          <td>{{ cliente.created_at }}</td>
          <td>{{ cliente.updated_at }}</td>
          <td>{{ cliente.is_active }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
