<!-- tests/templates/tests/list_objects.html -->

{% extends "../base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>{{ model_name }} List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          {% if model_name == "Producto" %}
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Stock</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Is Available</th>
          {% elif model_name == "Empleado" %}
          <th>Position</th>
          <th>Department</th>
          <th>Hire Date</th>
          <th>Salary</th>
          <th>Is Active</th>
          <th>Address</th>
          <th>Phone Number</th>
          {% elif model_name == "Cliente" %}
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Company</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Is Active</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for object in objects %}
        <tr>
          <td>{{ object.name }}</td>
          {% if model_name == "Producto" %}
          <td>{{ object.description }}</td>
          <td>{{ object.price }}</td>
          <td>{{ object.category }}</td>
          <td>{{ object.stock }}</td>
          <td>{{ object.created_at }}</td>
          <td>{{ object.updated_at }}</td>
          <td>{{ object.is_available }}</td>
          {% elif model_name == "Empleado" %}
          <td>{{ object.position }}</td>
          <td>{{ object.department }}</td>
          <td>{{ object.hire_date }}</td>
          <td>{{ object.salary }}</td>
          <td>{{ object.is_active }}</td>
          <td>{{ object.address }}</td>
          <td>{{ object.phone_number }}</td>
          {% elif model_name == "Cliente" %}
          <td>{{ object.email }}</td>
          <td>{{ object.phone_number }}</td>
          <td>{{ object.address }}</td>
          <td>{{ object.company }}</td>
          <td>{{ object.created_at }}</td>
          <td>{{ object.updated_at }}</td>
          <td>{{ object.is_active }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
